<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">

</head>
<body>
	<div class="container">
        <!-- Footer -->
        <footer class="footer1">
			<nav class="nav-footer1">	
				<ul>
						<li><a href="/producto">Productos</a></li>
						<li><a href="/#">Servicios</a></li>
						<li><a href="/#">Modelos</a></li>
				</ul>
			</nav>
			<nav class="nav-footer2">
				<ul>
						<li><a href="/#">Sobre nosotros</a></li>
						<li><a href="/#">Contacto</a></li>
						<li><a href="/#">FAQS</a></li>
				</ul>
			</nav>
			<section class="section2">
				<p class="p1">
					Suscribite a nuestro newsletter
				</p>
				<form action="validar.php" method="POST">
					<p class="p3">
						<input type="submit" value="Suscribirme">
					</p>
					<p class="p2"> 
							<label for="email">email</label>
							<input type="email" name="email" id="email">
					</p>
				</form>
			</section>
			<img class="img3" src="/images/redes1-color.png">

		</footer>
		
	</div>
	
</body>