
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">

</head>
<body>
	<div class="container">
        <!-- Header -->
        <header>
            <div class="logo">
                <a href="/">
                    <img class="img1" src="/images/logo-boceto.png">
				</a>	
			</div>
			<a href="/carrito"><img class = "img4" src="/images/carrito.jpg"></a>
			<a href="/registro"><img class = "img5" src="/images/login.jpg"></a>
		</header>
		
	</div>
	
</body>
	