<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkout</title>
    <link rel="stylesheet" href="/css/checkout.css">
</head>

<body>
    <!-- Header -->
	<%- include('partials/headerNavbar') %>
    <!-- Header -->
    <h1>Tu producto ya está casi en tus manos!</h1>
    <!-- (agm) Me parece buena idea que aquí esté dividido levemente en 2 secciones. Una donde haces el login si ya estás registrado y otra donde continuas como invitado por si quieres -->


    <!-- Footer -->
	<%- include('partials/footer') %>
	<!-- Footer -->
</body>

</html>