<!DOCTYPE html>
<html lang="en">

<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- Header -->
	
	<div class="container">
        
	
		<!-- Imagen central -->
		<section class="section1">
				<nav class="left-navbar">
						<ul>
							<li><a href="/producto">Producto |</a></li>
							<li><a href="#">Servicios |</a></li>
							<li><a href="#">Modelos |</a></li>
							<li><a href="#">Sobre nosotros |</a></li>
						</ul>
					</nav>
				
			<button class="b1"><a href="/formulariocargaproducto">¡Empezar a diseñar!</a></button>
			
			<img class="img2" src="/images/group-1.jpg">

		</section>

		 <!-- Footer -->
		<%- include('partials/footer') %>
		<!-- Footer -->

	</div>

	
</body>
</html>