<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Carga de producto</title>
	<link rel="stylesheet" href="/css/productAdd.css">
</head>
<body>
	<h1>Sección para formulario de carga de producto</h1>

</body>
</html>