</!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/register.css" />
	<link rel="stylesheet" href="/css/main.css" />
	<title>Registro</title>
</head>
<body>

    <!-- Header -->
	<%- include('partials/headerNavbar') %>
    <!-- Header -->

	<section class="page-section register">
		<div class="container">
		<h2 class="major"><span>Inicia tu registro</span></h2>
		                <form method="post" action="registered.html" id="registration-form">
                    <div class="field">
                        <label for="first-name">Nombre:</label>
                        <input type="text" id="first-name" name="FirstName" required="required" autofocus="autofocus"/>
                    </div>
                    <div class="field">
                        <label for="last-name">Apellido:</label>
                        <input type="text" id="last-name" name="LastName" required="required"/>
                    </div>
                    <div class="field">
                        <label for="email-address">Email:</label>
                        <input type="email" id="email-address" name="EmailAddress" required="required"/>
                    </div>
                    <div class="field">
                        <label for="password">Contraseña:</label>
                        <input type="password" id="password" name="Password" required="required" pattern="[a-zA-Z0-9]{5,}" title="At least 5 letters and numbers"/>
                    </div>
                    <div class="field">
                        <label for="confirm-password">Confirme su contraseña:</label>
                        <input type="password" id="confirm-password" name="ConfirmPassword" required="required"/>
                    </div>
                    <div class="field">
                        <label for="website">Su sitio de internet:</label>
                        <input type="url" id="website" name="WebsiteUrl" placeholder="http://"/>
                    </div>
                    <div>
                        <button class="button big" type="submit">Registro</button>
                    </div>
                </form>
		</div>
	</section>

	<br>
	<br>

     <!-- Footer -->
	<%- include('partials/footer') %>
	<!-- Footer -->
</body>
</html>








