html, body {
  min-height: 100vh;
  margin: 0;

}

* {
  box-sizing: border-box;
}

.container {
  width: 1024px;
  margin: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}


/* HEADER */
header{
  width: 100%;
  height: 15vh;
  padding: 10px 5px;
  margin: 0px;
  position: relative;
  /*border: solid blue 3px;
  background-color: cornflowerblue;*/
  overflow: hidden;
  border-bottom: solid grey 2px;
}
 
.logo {
  float: left;
  position: absolute;
  left: 0px;
  top: 10px;
}

.img1 {
  width: 20%;
}
 
.left-navbar {
  float: left;
  margin-top: 5px;
  position: absolute;
  left: 22%;
  top: 70px;
}

.right-navbar {
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
}

.left-navbar li {
  display: inline-block;
  margin: 0 15px;
  text-transform: uppercase;
}

.right-navbar li {
  margin: 10px 15px 15px 0px;
  text-transform: uppercase;
}

.left-navbar ul li a,
.right-navbar ul li a {
  color: rgb(83, 81, 81);
  font-size: 16px;
}

/* IMAGEN CENTRAL */

.section1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70vh;
  padding: 20px 0px;
  margin: 5px 0px;
}

.b1{
  float: left;
  width: 30%;
  position: absolute;
  right: 35%;
  bottom: 35vh;
  z-index: 1000;
  background-color: rgb(55, 207, 207);
  border: solid 5px rgb(55, 207, 207);
  border-radius: 15px;
}

.b1 a {
  color: white;
  font-size: 30px;
}

.img2 {
  float: left;
 /* border: green solid 3px;
  background-size: cover;
  width: 100%;*/
  opacity: 80%;
  
}


/* FOOTER */

.footer1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 15vh;
  border-top: solid grey 2px;
  /*background-color: rgb(235, 247, 132);*/
}

.nav-footer1 {
  float: left;
  padding: 10px;
  margin: 20px 30px 20px 50px;
}

.nav-footer2 {
  float: left;
  padding: 10px;
  margin: 20px 20px 20px 30px;
}

.nav-footer1 li a,
.nav-footer2 li a {
  color: rgb(94, 91, 91);
  font-size: 15px;
}

.section2 {
  float: right;
  position: absolute;
  right: 50px;
  top: 15px;
}

.p1 {
  color: rgb(94, 91, 91);
  font-size: 15px;
}

.p2 {
  color: rgb(94, 91, 91);
  font-size: 15px;
  float: right;
  margin: 0px 0px 15px 0px;
}

.p3 {
  float: right;
  margin: 0px 0px 0px 10px;
  color: rgb(94, 91, 91);
  font-size: 15px;
  border: solid rgb(128, 126, 126) 0.5px;
  background-color: rgb(192, 189, 189);
}

.img3 {
  float: right;
  position: absolute;
  left: 500px;
  bottom: 15px;
  width: 10%;
  opacity: 100%;
}
